<header class="header">
  <div class="logo">
    <a href="/">
      <img src="assets/logo.jpg" alt="Logo da Advocacia" />
    </a>
  </div>
  <nav class="nav-links">
    <a routerLink="/sobre-nos" class="text-white">Sobre Nós</a>
    <a routerLink="/servicos" class="text-white">Serviços</a>
    <a routerLink="/faq" class="text-white">Perguntas Frequentes</a>
    <a routerLink="/contato" class="text-white">Contato</a>
  </nav>
  <div class="social-links">
    <a href="https://www.linkedin.com" target="_blank" class="text-white">
      <i class="bi bi-linkedin"></i>
    </a>
    <a href="https://www.facebook.com" target="_blank" class="text-white">
      <i class="bi bi-facebook"></i>
    </a>
  </div>
</header>
