hr.my-4 {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 2rem 0;
}

.form-container {
  border: 2px solid #777777;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-container {
  max-height: 600px;
  /* Ajuste a altura conforme necessário */
  overflow-y: auto;
  padding-right: 15px;
  /* Para evitar o corte do conteúdo pelo scrollbar */
}

.card-container .row {
  display: flex;
  flex-wrap: wrap;
}

.card-container .col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.btn-black {
  background-color: black;
  color: white;
}

.btn-gray {
  background-color: gray;
  color: white;
}

.btn-red {
  background-color: red;
  color: white;
}

/* Estilos para a paginação */
.pagination .page-item .page-link {
  color: #777777;
  /* Cor do texto do número da página não selecionado */
}

.pagination .page-item.active .page-link {
  border-color: #777777;
  /* Borda do número selecionado */
  background-color: #777777;
  /* Fundo do número selecionado */
  color: #f9f9f9;
  /* Cor do texto do número selecionado */
}

.pagination .page-item .page-link:hover {
  background-color: #555555;
  /* Fundo ao passar o mouse */
  color: #f9f9f9;
  /* Cor do texto ao passar o mouse */
}
